.container1{
    background-color: brown;
    color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.container2{
    background-color:blue;
    color: beige;
    padding: 20px;
    margin: 30px;
    border: 13px double black;
    border-radius: 40px;
}