.parent{
    background-color: white;
    display: flex;
    align-items:center ;
    justify-content: space-around;
font-family: times;
font-size: 60px;
}
 
.img{
    mix-blend-mode: multiply;
}

.parent .ch1 button{
    padding: 14px;
    background-color: brown;
    color: white;


}